{{define "layout"}}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Hangman-Web</title>
        <link
        href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Prompt:wght@200&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class= "navbar">
            <h2 class="logo">HANGMAN</h2>
            <div class="menu">
                <ul>
                  <li><a href="http://localhost:3000/">Back to main page</a></li>
                </ul>
              </div>
        </div>
        <form method="post">
            <div class="lettre">lettre a choisir :</div><input type="text" name="letter" required
            minlength="1" maxlength="1" size="10">
            <input type="submit" value="entrée">
        </form>
        <article id="content">
            {{template "content" .}}
        </article>
    </body>
</html>
{{end}}